<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title> demoApp </title>
    <link rel="stylesheet" href="bundle.css">
    <script src="bundle.js"></script>
  </head>
  <body>
    <main ng-controller="ListController as listCtrl">
      <h1>Notes!</h1>
      <form class="form-inline" novalidate ng-submit="listCtrl.createList(listCtrl.list)">

        <div class="form-group">
          <label for="name"> Note: </label>
          <input name="name" class="form-control" ng-model="listCtrl.list.name">
        </div>

        <button type="submit" class="btn btn-default"> Submit New Note </button>
      </form>

      <form class="form-inline" ng-model="listCtrl.list.name" novalidate ng-submit="listCtrl.deleteAllLists(listCtrl.list)">

        <button type="submit" class="btn btn-default"> Delete All Notes </button>
      </form>



      <ol>
        <li ng-repeat="item in listCtrl.lists"> {{ item.name }} </li>
     </ol>
    </main>
  </body>
</html>
